.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #ea580c!important;
}
.css-1qltlow-MuiTabs-indicator {
    background-color: #ea580c!important;
}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root{
    font-family: "Outfit", serif!important;
}